* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, rgba(66, 146, 170, 0.699),
     rgba(47, 129, 136, 0.952));
}

.header {
    flex-wrap: wrap;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(47, 102, 122);
    color: rgb(189, 21, 21);
}

.header h1{
    display: inline-block;
    font-size: 50px;
    color: rgb(230, 216, 30);
    
}

nav {
    color: rgb(189, 141, 11);
    bottom: 40px;
    padding-right: 25px;
    text-align: right;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav a:hover {
    color: blue;
}

nav a {
    color: rgb(256, 240, 49);
}

.hero {
    height: 200px;
    width: 100%;
    padding-bottom: 30px;
    background-image: url(./images/abstract-background-poco-x4-gt-stock-4200x2160-8682.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2 {
    color: rgb(256, 240, 49);
    font-size: 30px;
    float: right;
    padding: 1% 4% 1% 1%;
    background-color: rgba(121, 76, 76, 0.445);
    border-radius: 25px;
}
main {
    width: 88%;
    margin: 0 auto;
}
main section {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

main section header {
    flex-basis: 25%;
    border-right: solid black 3px;
    text-align: right;
    padding: 21px;
    font-size: 35px;
}

main section div {
    flex-basis: 75%;
    padding: 50px;
}

.photo {
    margin-right: auto;
    width: 15%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
}

.surf-report p {
    
    color: rgb(256, 240, 49);
    line-height: 1.5;
    font-size: 35px;
    margin-right: 10%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects a {
    margin: 0.5em;
    flex-basis: calc(50% - 1em);
    border-color: black ;
    border-style: solid;
    height: 200px;
    background-size: cover;
    display: flex;
} 
.projects a:first-child{
    flex-basis: 100%;
    height: 400px;

}

#surf-report {
    flex-basis: 100%;
    height: 600px;
    background-image: url(./images/Horiseon-1st-Screenshot.png);
    background-size: cover;
    border-color: black ;
    border-style: solid ;
}

#surf-report:hover {
    opacity: 75%;
}

#led-wall, #calculator, #pastel-puzzels, #run-buddy {
    background-size: cover;
    border-color: black ;
    border-style: solid;
}

#led-wall:hover {
    opacity: 75%;
}

#led-wall {
    background-image: url(./images/LED_wall_.jpg);
}
#calculator {
    background-image: url(./images/basic-calculator.jpg);
}
#calculator:hover{
    opacity: 75%;
}
#pastel-puzzels {
    background-image: url(./images/pastels-art.png);
}
#pastel-puzzels:hover{
    opacity: 75%;
    \
    
}
#run-buddy {
    background-image: url(./images/runbuddy.jpg);
}
#run-buddy:hover {
    opacity: 75%;
}
.section-content {
    text-decoration: underline;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 200%;
    padding-right: 3.5%;
    
}

.section-content a {
    color: black;
}

.section-content a:hover {
    color: rgb(255, 251, 0); 
}

@media screen and (max-width:768px) {

    main section header{
        flex-basis: 100%;
        border-right: none;
        border-bottom: 4px black solid;
        font-size: 25px;
    }
    main section div {
        flex-basis: 100%;
        border-right: none;
        border-bottom: 4px black solid;
    }

    .projects a {
        flex-basis: 100%;
    }

}
