* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: darkcyan;
}

.header {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(9, 106, 138);
    color: rgb(53, 38, 38);
}

.header h1{
    display: inline-block;
    font-size: 50px;
    color: black;
    background-color: cadetblue;
    
}

nav {

    position: relative;
    bottom: 40px;
    padding-right: 20px;
    text-align: right;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}